*{
    margin: 0;
    padding: 0;
    color: gray;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* GENERAL CLASSES */

/* DRY STYLING FOR THE DIFFERENT SECTIONS */
.division{
    padding: 5em 5em;
}

.section-title{
    text-align: center;
    font-size: 2em;
    color: #37517e;
    font-weight: bold;
}
.section-title::before{
    content: '';
    position: relative;
    top: 50px;
    left: 49.25%;
    width: 1em;
    height: 3px;
    background: #47b2e4;
    display: block;
    z-index: 1;
}
.section-title::after{
    content: '';
    position: relative;
    top: 10px;
    left: 46%;
    width: 4em;
    height: 1px;
    background: lightgray;
    display: block;
}

/* STYLING FOR THE HEADER AND NAV */
#active{
    color: #47b2e4;
}
#selected{
    background: #47b2e4;
    color: white;
}
header{
    display: flex;
    justify-content: space-between;
    background: transparent;
    padding: 1em 3em;
    align-items: center;
    position: fixed;
    width: 95%;
    z-index: 100000000;
    transition: 0.4s;
}
.Theader {
    background: rgba(40, 58, 90, 0.9);
}
.logo{
    color: white;
    text-decoration: none;
    font-size: 2em;
    width: 10%;
}
#burgermenu{
    display: none;
}
nav{
    display: flex;
}
nav a:hover{
    color: #47b2e4;
}
nav ul{
    list-style: none;
}
nav ul a{
    text-decoration: none;
    color: white;
}
nav .menu-list{
    display: flex;
    gap: 2em;
}
nav .menu-list .deep-list, nav .menu-list .deeper-list{
    position: absolute;
    background: white;
    box-shadow: 0 0 10px lightgray;
    border-radius: 0.5em;
    padding: 0.5em;
    opacity: 0;
    display: none;
    transition: 0.5s;
}
nav .menu-list .deep-list li, nav .menu-list .deeper-list li{
    margin-bottom: 1em;
}
nav .menu-list .deep-list li a:hover, nav .menu-list .deeper-list li a:hover{
    color: #47b2e4;
}
nav .menu-list .deeper-list{
    width: 103%;
    left: 9.5em;
}
nav .menu-list .deep-list a{
    color: black;
}
.dropdown, .deepdropdown{
    transition: 1s;
}
.dropdown:hover .deep-list, .deepdropdown:hover .deeper-list{
    display: block;
    opacity: 1;
}
.get-started{
    border: 2px solid #47b2e4;
    padding: 0.5em 1em;
    border-radius: 5em;
    transition: 0.2s;
    font-weight: bold;
}
.get-started a:hover{
    color: white;
}
.get-started:hover{
    background: #47b2e4;
}

/* STYLING FOR THE BANNER */
#banner{
    background: #37517e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5em 4em;
}
.banner-text{
    width: 50%;
    margin-top: 5em;
}
#banner .banner-title{
    color: white;
    font-size: 3.2em;
}
#banner .banner-short{
    color: rgba(255, 255, 255, 0.6);
    font-weight: lighter;
    font-size: 1.5em;
    margin-bottom: 3em;
}
#banner .banner-links a{
    text-decoration: none;
    color: white;
    display: inline-block;
    margin-right: 1em;
}
#banner .banner-links a:nth-child(1){
    border-radius: 2em;
    padding: 1em 1.5em;
    background: #47b2e4;
    transition: 0.5s;
}
#banner .banner-links a:nth-child(1):hover{
    background: #2e91be
}
.banner-img{
    width: 50%;
    margin-top: 3em;
}
.banner-img img{
    width: 100%;
    transition: 0.3s ease-in-out;
    animation-name: bounce;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 2s;
}

/* BANNER KEYFRAMES */
@keyframes bounce {
    from{
        transform: translateY(-20px);
    }
    to{
        transform: translateY(20px);
    }
}



/* STYLING FOR THE CLIENT DIV */
.client-div{
    background: #efefef;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 3em;
}
.client-div img{
    display: inline-block;
    width: 6%;
    filter: grayscale(100%);
    transition: 0.3s;
}
.client-div img:hover{
    filter: grayscale(0);
    transform: scale(1.1);
}


/* STYLING FOR THE ABOUT US SECTION */
.about-us-text{
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    padding: 2em 0;
}
.about-us-1 p{
    margin-bottom: 2em;
    text-align: justify;
}
.about-us-1 ul{
    list-style-type: disc;
    margin-left: 10%;
}
.about-us-2 a{
    text-decoration: none;
    display: block;
    color: #47b2e4;
    width: 20%;
    text-align: center;
    padding: 0.8em;
    border-radius: 0.3em;
    border: 2px solid #47b2e4;
    transition: 0.4s;
    margin-top: 2.3em;
    font-size: 0.9em;
}
.about-us-2 a:hover{
    color: white;
    background: #47b2e4;
}
.about-us-1, .about-us-2{
    width: 49%;
    color: rgb(77, 76, 76);
    font-size: 1.15em;
}
.about-list li{
    margin-bottom: 1em;
}
/* WHY US STYLING */
.extra-stuff{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f1f1f1;
}
.extra-text, .extra-img{
    width: 45%;
}
.extra-title-paragraph{
    margin-bottom: 1em;
}
.extra-text .extra-title{
    font-size: 2em;
    margin-bottom: 0.5em;
    color: #37517e;
}
.why-list-item{
    color: black;
    margin-bottom: 1em;
    transition: 0.3s;
}
.why-list-item:hover {
    color: #47b2e4;
}
.extra-sub-p{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.extra-sub-p img{
    position: relative;
    top: -0.5em;
}

.extra-text ul li{
    font-size: 1.15em;
    background: white;
    margin-bottom: 1em;
    padding: 1em;
    list-style-type: none;
    height: 1.4em;
    overflow: hidden;
    transition: 0.3s;
}
.expand {
    height: 10em;
}
.extra-img img{
    width: 100%;
}

/* SKILLS STYLING */
.skills{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.skills img{
    width: 48%;
    height: 40%;
}
.skills .skills-index{
    width: 48%;
}
.skills .skills-index .skill-title{
    font-size: 2em;
    color: #37517e;
    font-weight: bolder;
}

/* STYLING THE SKILLS INDEX */
.index-text{
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    margin-bottom: 1em;
}
.meter{
    height: 0.7em;
    width: 100%;
    background: #f1f1f1;
    margin-bottom: 2.5em;
}
.html-meter, .css-meter, .js-meter, .ps-meter{
    background: #204078;
    height: 100%;
}
.html-meter{
    width: 1%;
}
.css-meter{
    width: 1%;
}
.js-meter{
    width: 1%;
}
.ps-meter{
    width: 1%;
}
.index-text p{
    color: #204078;
}

/* SERVICES STYLING */
.services{
    margin: 3em 0;
    background: #f1f1f1;
    padding-top: 2em;
    padding-bottom: 3.5em;
}
.services::after{
    content: '';
    display: block;
    clear: both;
    height: 10%;
}
.services .description{
    margin-top: 2em;
    text-align: center;
    opacity: 1;
    background: transparent;
}
.services-div{
    box-shadow: 0 0 20px rgb(193, 190, 190);
    width: 20%;
    height: 10em;
    background: white;
    padding: 2em 1em;
    transition: 0.5s;
    margin-top: 2em;
}
.services-div:hover{
    transform: translateY(-10px);
}
.services-div h1{
    transition: 0.5s;
    font-size: 1.7em;
    margin-bottom: 1em;
    color: #4d6ea7;
}
.services-div:hover h1{
    color: #70a1f5;
}

.services-div-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* CALL TO ACTION STYLING */
.call-to-action{
    background: url(/images/cta-bg.jpg) no-repeat fixed center ;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 18em;
}

.bluescreen{
    width: 100%;
    height: 61%;
    background: rgba(40, 58, 90, 0.9);
    z-index: 0;
    position: absolute;
    opacity: 0.99;
    z-index: 0;
}
.call-to-action-text{
    z-index: 1;
    width: 70%;
}
.call-to-action h1{
    font-weight: bolder;
    font-size: 2em;
    margin-bottom: 1em;
    color: white;
}
.call-to-action p{
    font-size: 1.15em;
    color: white;
}
.call-to-action a{
    text-decoration: none;
    color: white;
    border: 2px solid white;
    border-radius: 3em;
    padding: 1em 3em;
    transition: 0.4s;
    z-index: 1;
}
.call-to-action a:hover{
    background: #47b2e4;
    border: 2px solid #47b2e4;
}

/* PORTFOLIO STYLING */
.section-p{
    margin-top: 2em;
    text-align: center;
}

#dynamicLinkList{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 2em auto;
}
#dynamicLinkList li{
    padding: 1em 2em;
    border-radius: 2em;
    transition: 0.3s;
    cursor: pointer;
}
#dynamicLinkList li:hover{
    background: #47b2e4;
    color: white;
}

/* PORTFOLIO SECTION STYLING */
.portfolio{
    position: relative;
}
.images-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    position: relative;
}

.images-block .images{
    width: 30%;
    height: fit-content;
    overflow: hidden;
    margin: 0.5em;
    transition: 1s;
    z-index: 0;
    display: inline-block;
}
.images-block .images:hover img{
    transform: scale(1.1);
}
.images-block .images:hover .description{
    opacity: 0.85;
}
.images img{
    width: 100%;
    transition: 0.5s;
    z-index: 0;
}

.description{
    z-index: 10000;
    background: #204078;
    width: 100%;
    margin: 0;
    padding: 1em 0 1em 0;
    opacity: 0.7;
    transition: 0.5s;
    opacity: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.description-text{
    width: 80%;
    margin-left: 5%;
}
.description-text h2{
    font-size: 1.3em;
}
.description-text h2, .description-text p {
    color: white;
}
.description-img{
  text-align: center;
}
.description-img a{
    display: inline-block;
    width: 13%;
    margin-right: 1em;
}

/* TEAM SECTION STYLING */
.team{
    background: #f1f1f1;
}
.team-members{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0.5em auto;
}
.team-div{
    background: white;
    display: flex;
    align-items: center;
    margin: 2em 1em;
    padding: 1em;
    transition: 0.4s;
    position: relative;
    top: 0;
    border-radius: 0.5em;
    box-shadow: 0 0 10px lightgray;
    width: 40%;
}
.team-div:hover{
    top: -10px;
}
.team-image-div{
    border-radius: 50%;
    width: 40%;
}
.team-div img{
    display: block;
    width: 100%;
    border-radius: 50%;
}
.team-text-div{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}
.team-text-div h2{
    color: #204078;
}
.team-text-div p:first-of-type::after{
    content: '';
    display: block;
    height: 2px;
    background: lightgray;
    width: 20%;
    margin-top: 0.8em;
}

.social-contact{
    display: flex;
    justify-content: space-between;
    width: 55%;
}
.social-contact span{
    display: inline-block;
    padding: 0.5em;
    border-radius: 50%;
    background: #e5e2e2;
}

@media screen and (max-width: 1040px){
    .team-div{
        width: 40%;
    }
}

/* PRICING SECTION STYLING */
.pricing-plan{
    width: 30%;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    box-shadow: 0 0 11px lightgray;
    padding: 2em;
    margin-top: 2em;
    transition: 0.3s;
}
.pricing-plan:hover{ 
    border-top: 5px solid #47b2e4;
}
.price-details{
    margin-bottom: 5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.pricing-plan p:first-of-type{
    color: #204078;
    font-size: 1.2em;
    font-weight: bold;
}
.pricing-plan h1{
    color: #204078;
    font-size: 3.5em;
    font-weight: light;
}
.pricing-plan p:last-of-type{
    color: #47b2e4;
}
.pricing-plan ul{
    list-style-type: none;
    margin-bottom: 3em;
}
.pricing-plan ul li{
    margin-bottom: 1em;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    gap: 0.6em;
}

.pricing-link a{
    color: #47b2e4;
    text-decoration: none;
    border: 2px solid #47b2e4;
    border-radius: 2em;
    padding: 1em 2em;
    transition: 0.5s;
}
.pricing-link a:hover{
    background: #47b2e4;
    color: white;
}
.pricing-plans{
    display: flex;
    gap: 1.5em;
}

.pricing-plan:first-of-type ul li:nth-child(4), .pricing-plan:first-of-type ul li:nth-child(5){
    text-decoration: line-through;
    opacity: 0.6;
}

/* FAQ STYLING */
.faqs{
  background: #f1f1f1;
}
.faq{
    background: white;
    margin-bottom: 2em;
    padding: 0.8em 2em;
    width: 80%;
    margin: 1em auto;
    height: 2em;
    overflow: hidden;
    transition: 0.3s;
    cursor: pointer;
}
.readmore{
    height: 15em;
}
.faq-title{
    font-size: 1.1em;
    margin-bottom: 2em;
    display: flex;
    align-items: center;
    gap: 0.5em;
    justify-content: space-between;
}
.faq-title span:first-of-type{
    color: black;
    transition: 0.3s;
    cursor: pointer;
}
.faq-title span:first-of-type:hover{
    color: #47b2e4;

}

/* CONTACT SECTION STYLING */
.contact-container{
    display: flex;
    justify-content: space-between;
}
.contact-details, .contact-form{
    width: 35%;
    margin-top: 5em;
    box-shadow: 0 0 10px lightgray;
    padding: 2em;
    border-top: 3px solid #47b2e4;
    border-bottom: 3px solid #47b2e4;
}
.contact-form{
    width: 45%;
}
.detail{
    display: block;
    margin-bottom: 2em;
}
.detail-text h2{
    color: #204078;
    margin-bottom: 0.5em;
}

.map iframe{
    width: 100%;
}

/* STYLING FOR THE CONTACT FORM */
.contact-form form label, .contact-form form input{
    display: block;
}

.contact-form form .details{
    display: flex;
    margin-bottom: 2em;
    justify-content: space-between;
    gap: 1em;
}
.contact-form form .details div label, .contact-form form .content div label{
    margin-bottom: 1em auto;
    font-size: 1.2em;
}
.contact-form form .details div {
    width: 46%;
}
.contact-form form .details div input, .contact-form form .content div input, #message{
    height: 1.5em;
    width: 100%;
    border: 1.5px solid lightgray;
    border-radius: 0.3em;
    outline: none;
    padding: 0.5em;
    font-size: 1.1em;
}
.contact-form form .content{
    display: flex;
    flex-direction: column;
    gap: 2em;
}
#message{
    height: 10em;
    resize: none;
}
.submit-form{
    display: block;
    font-size: 1.1em;
    padding: 0.7em 2em;
    border-radius: 2em;
    border: 2px solid #47b2e4;
    background: #47b2e4;
    color: white;
    margin: 2em auto;
    transition: 0.5s;
    cursor: pointer;
}
.submit-form:hover{
    background: #3498c7;
}
.contact-form form div input:focus, #message:focus{
    border: 2px solid #47b2e4;
}

/* NEWSLETTER SECTION STYLING */
.newsletter{
    background: #f1f1f1;
}
.newsletter h2{
    color: #204078;
    text-align: center;
}

.form-div{
    margin: 2em auto;
}

.newsletter form{
    display: flex;
    justify-content: center;
    margin: 2.5em auto;
}
.newsletter form input{
    font-size: 1.1em;
    padding: 0.8em;
    border-style: none;
    border-radius: 2em;
    box-shadow: 0 0 10px lightgray;
    width: 70%;
    outline: none;
    position: relative;
    left: 2.5em;
}
.newsletter form button{
    font-size: 1.1em;
    border-style: none;
    background: #47b2e4;
    color: white;
    border-radius: 2em;
    padding: 1em 2em;
    position: relative;
    left: -2.5em;
    box-shadow: 0 0 10px gray;
}

/* FOOTER STYLING */
footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .footer-container{
    width: 20%;
    flex: 1 1 15%;
}
.list-header{
    color: #204078;
    margin-bottom: 1em;
}

footer .footer-container ul li {
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 1em;
}
footer .footer-container ul li img{
    width: 8%;
}

footer .footer-container:nth-child(1) p:nth-child(2){
    margin-bottom: 2em;
}
footer .footer-container p{
    margin-bottom: 1em;
}

.socials{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1em;
    margin-top: 2em;
}
.socials div{
    background: #47b2e4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4em;
    height: 1.65em;
    width: 2em;
    border-radius: 50%;
}
/* MEDIA QUERIES */
/* MEDIA QUERY FOR THE HEADER AND NAV */
@media screen and (max-width: 1000px){
    .division{
        padding: 5em 2em;
    }
    .team{
        padding: 5em 5em;
    }

}


    @media screen and (max-width: 950px){
    header, nav, nav .menu-list{
        display: block;
    }
    nav{
        background: white;
        border-radius: 0.5em;
        padding: 2em;
        width: 80%;
        margin: 0 auto;
    }
    .logo{
        display: block;
        margin-bottom: 1em;
    }
    .menu-list li{
        margin-bottom: 1em;
        display: block;
        width: 100%;
    }
    .menu-list li a{
        color: #797777;
    }

    .deep-list, .deeper-list{
        position: relative !important;
        background: white;
        box-shadow: 0 0 10px lightgray;
        border-radius: 0.5em;
        padding: 0.5em;
        width: 100%;
    }
    .deep-list li a, .deeper-list li a {
        color: #797777 !important;
    }
    .deeper-list{
        left: 0 !important;
        width: 95% !important;
        margin: 1em auto;
    }
    .get-started{
        width: 95% !important;
    }
    header{
        width: 100%;
        max-height: 2em;
        overflow: hidden;
        padding: 1em 0.5em;
        transition: 0.6s;
    }
    #burgermenu{
        display: block;
        width: 2em;
        position: relative;
        left: 85%;
        top: -4.3em;
        cursor: pointer;
    }
    .open{
        max-height: 40em;
    }

    /* BANNER STYLING */
    #banner{
        flex-direction: column-reverse;
        justify-content: center;
        padding: 3em;
        height: 40rem;
    }
    .banner-text{
        width: 100%;
        text-align: center;
        margin-top: 2em;
    }
    .banner-text h1:nth-child(1){
        font-size: 2em !important;
    }
    .banner-text h1:nth-child(2){
        font-size: 1.2em !important;
        margin-top: 1em;
        margin-bottom: 2em !important;
    }
    .banner-img{
        width: 80%;
        margin-top: 5em;
        margin-bottom: 2em;
    }
    /* CLIENT DIV STYLING */
    .client-div{
        display: flex;
    }
    .client-div:after{
        content: '';
        display: block;
        height: 100%;
        clear: both;
    }
    .client-div img{
        width: 10%;
        float: left;
        margin-left: 0.5em;
    }

    /* ABOUT US STYLING */
    .section-title{
        text-align: center;
        font-size: 2em;
        color: #37517e;
        font-weight: bold;
    }
    .section-title::before{
        content: '';
        position: relative;
        top: 50px;
        left: 47.25%;
        width: 1em;
        height: 3px;
        background: #47b2e4;
        display: block;
        z-index: 1;
    }
    .section-title::after{
        content: '';
        position: relative;
        top: 10px;
        left: 38%;
        width: 4em;
        height: 1px;
        background: lightgray;
        display: block;
    }
    .about-us{
        padding: 2em;
    }
    .about-us-text{
        flex-direction: column;
        align-items: center;
    }
    .about-us-1, .about-us-2{
        width: 100%;
        font-size: 1.1em;
    }
    .about-us-2{
        margin-top: 2em;
    }

    /* WHY US STYLING */
    .extra-stuff{
        flex-direction: column-reverse;
        align-items: center;
        padding: 1em;
    }
    .extra-text, .extra-img{
        width: 100%;
    }
    .extra-img{
        margin-bottom: 3em;
    }
    .extra-title-paragraph{
        margin-bottom: 1em;
    }
    .extra-img img{
        width: 100%;
    }

    /* SKILLS STYLING */
    .skills{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 1em;
    }
    .skills img{
        width: 100%;
        margin-bottom: 3em;
    }
    .skills .skills-index{
        width: 100%;
    }

    /* SERVICES STYLING */
    .services{
        margin: 3em 0;
        padding-top: 2em;
        padding-bottom: 3.5em;
    }
    .services-div{
        width: 100%;
    }

     /* CALL TO ACTION STYLING */
     .call-to-action{
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
    .call-to-action-text{
        width: 100%;
        text-align: center;
        margin-bottom: 1.5em;
    }

    /* PORTFOLIO STYLING */
    .portfolio .section-p{
        margin-top: 2em;
        text-align: center;
    }

    /* PORTFOLIO SECTION STYLING */
    .images-block .images{
        width: 45%;
    }

    /* TEAM SECTION STYLING */
    .team-members{
        display: block;
    }
    .team-div{
        width: 90%;
    }

    /* PRICING SECTION STYLING */
.pricing-plans{
    display: block;
    gap: 1.5em;
}
.pricing-plan{
    width: 60%;
    margin: 2em auto;
}

/* FAQS SECTION STYLING */


/* CONTACT SECTION STYLING */
.contact-container{
    display: block;
}
.contact-details, .contact-form {
    width: 85%;
    margin: 2em auto;
}
.details{
    flex-direction: column;
}
.contact-form form .details div {
    width: 100%;
}

    /* FOOTER STYLING */
    footer .footer-container{
        width: 20%;
        flex: 1 1 40%;
        margin: 1em;
    }

    footer .footer-container:nth-child(3), footer .footer-container:nth-child(4){
        margin-top: 4em;
    }


}

/* EXTRA MEDIA QUERIES FOR SMALLER SCREENS */
@media screen and (max-width: 600px) {
    body{
        width: 100%;
        overflow-x: hidden;
        box-sizing: border-box;
    }
      /* BANNER STYLING */
      #banner{
        padding: 1.5em;
    }
    .banner-text{
        font-size: 1em;
    }
    .banner-text h1:nth-child(1){
        font-size: 1.5em !important;
    }
    .banner-text h1:nth-child(2){
        font-size: 1em !important;
        margin-bottom: 1em !important;
        margin-top: 1em;
    }
    .banner-img{
        width: 80%;
        margin-top: 9em;
    }

            /* CLIENT DIV STYLING */
            .client-div{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
            }
            .client-div img{
                width: 20%;
                margin: 1em;
            }

      /* SERVICES STYLING */
      .services{
        padding: 2em;
    }
    .services-div{
        width: 85%;
    }

    
     /* CALL TO ACTION STYLING */
     .call-to-action{
        padding: 1.5em;
    }
    .bluescreen{
        height: 45%;
    }

    /* PORTFOLIO STYLING */
    .portfolio{
        padding: 2em;
    }
    .images-block .images {
        width: 100%;
    }
    /* TEAM DIV STYLING */
    .team{
        padding: 0.3em;
    }

    /* PRICING SECTION STYLING */
    .pricing{
        padding: 0;
    }
    .pricing-plan{
        width: 70%;
        margin: 2em auto;
    }

    /* FAQ SECTION STYLING */
    /* FAQ STYLING */
.faqs{
    background: #f1f1f1;
    padding: 2em;
  }
  .faq{
      background: white;
      margin-bottom: 2em;
      padding: 0.8em 2em;
      width: 80%;
      margin: 1em auto;
  }
  .faq-title{
      font-size: 1.1em;
      margin-bottom: 2em;
      display: flex;
      align-items: center;
      gap: 0.5em;
      justify-content: space-between;
  }

  .faq-title span:first-of-type{
    color: black;
    transition: 0.3s;
    cursor: pointer;
}
.faq-title span:first-of-type:hover{
    color: #47b2e4;

}
.faqs .section-title::after{
    top: 0 !important;
}
.faqs .section-title::before{
    position: relative;
    top: 2.43em !important;
}

.faqs .section-title::before{
    top: 2em;
}
.faqs .section-title::after{
   top: 0.75em;
}


    /* CONTACT SECTION STYLING */
    .contact{
        padding: 2em;
    }

        /* FOOTER STYLING */
footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
}
footer .footer-container{
    width: 60%;
}

}

@media screen and (max-width: 440px){
    nav{
        width: 70%;
    }
    .bluescreen{
        height: 46;
    }
    .team-div{
        width: 85%;
    }

    .faqs{
        padding: 0;
    }

    .section-title::before{

        left: 45%;
    }
    .section-title::after{
        left: 30%;
    }
    /* EXTRA STUFF (WHY US) SECTION */
    .extra-text ul li{
        height: 2.5em;
    }

    /* FOOTER STYLING */
    footer .footer-container{
        width: 100%;
    }
}

